certifi==2019.6.16
chardet==3.0.4
h5py==2.8.0
idna==2.8
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
numpy==1.15.4
pandas==0.25.1
python-dateutil==2.8.0
pytz==2019.3
PyYAML==3.13
requests==2.22.0
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.2.16
urllib3==1.25.3
virtualenv==16.7.4
